<%= form_for(@question) do |q| %>
    <div class="field">
      <%= q.label :reverse, "Reverse Scale" %><br />
      <%= q.check_box :reverse, id:"reverse_scale" %>
    </div>
    <div class="field">
      <%= q.label :content %><br>
      <%= q.text_area :content %>
    </div>
      <%= q.label :questionnaire_id, "Questionnaire" %><br>
      <%= q.select(:questionnaire_id, options_for_select(@questionnaires))%>
  <div class="actions">
    <%= q.submit "Submit" %>
  </div>
<% end %>


<p class="questionnaire-text"><%= link_to "Back to Questionnaire", questionnaire_path(params[:questionnaire_id]) %></p>
