<div class="form-assignment">
<h2>Assignment</h2>

<%= form_for(@assignment) do |q| %>

<div class="field">
  <div class="input">
    <i class="material-icons">face</i>
    <%= q.select(:user_id, options_for_select(@users_id)) %>
  </div>
</div>

<div class="field">
  <div class="input">
    <i class="material-icons">comment</i>
    <% unless @titles_id.nil? %>
      <%= q.select(:questionnaire_id, options_for_select(@titles_id))%>
    <% end %>
  </div>
</div>

<div class="actions">
  <%= q.submit "Submit" %>
</div>

<% end %>
</div>

<br>
<p id="backtoindex"><%= link_to "Back to Index", questionnaires_path %></p>
