<%= form_for(@questionnaire, multipart: true) do |q| %>
  <div class="field">
    <%= q.label :title %><br>
    <%= q.text_field :title %>
  </div>
    <div class="field">
      <%= q.label :physician_name, "Physician Name" %><br>
      <%= q.text_field :physician_name %>
    </div>
    <div class="field">
      <%= q.label :clinic_phone, "Clinic Phone" %><br>
      <%= q.text_field :clinic_phone %>
    </div>
    <div class="field">
      <%= q.label :clinic_address, "Clinic Address" %><br>
      <%= q.text_field :clinic_address %>
    </div>
    <div class="field">
        <%= q.label :additional_information, "Include additional information?" %><br />
        <%= q.check_box :additional_information, id:"additional_information" %>
    </div>
    <div class="field">
        <%= q.label :additional_information, "Include demographic information?" %><br />
        <%= q.check_box :demographic_information, id:"demographic_information" %>
    </div>
  <div class="actions">
    <%= q.submit "Submit" %>
  </div>
<% end %>
