<div class="form-questionnaire">
  <div class="feedback-input field row">
    <h2>New Questionnaire</h2>
  </div>

  <%= form_for(@questionnaire, multipart: true) do |q| %>

  <div class="field">
    <div class="input">
      <i class="material-icons">comment</i>
      <%= q.text_field :title, id:"title", placeholder:"Title"%>
    </div>
  </div>

  <div class="field">
    <div class="input">
      <i class="material-icons">face</i>
      <%= q.text_field :physician_name, id:"physician", placeholder:"Physician Name"%>
    </div>
  </div>

  <div class="field">
    <div class="input">
      <i class="material-icons">phone</i>
      <%= q.text_field :clinic_phone, id:"phone", placeholder:"Phone"%>
    </div>
  </div>

  <div class="field">
    <div class="input">
      <i class="material-icons">business</i>
      <%= q.text_field :clinic_address, id:"address", placeholder:"Address"%>
    </div>
  </div>

  <div class="actions">
  <%= q.submit "Submit" %>
  </div>
  <% end %>

</div>

<br>
