<div class="questionnaire-show-page">
  <div class="questionnaire-show">
    <p class="questionnaire-text"><%= @questionnaire.title %></p>
</div>
<% if current_user.admin %>
<p> Question Set:
<% @questionnaire.questions.each_with_index do |question, index| %>
  <br>
  <%= index + 1 %>. <%= question.content %>
<% end %>
<br>
<% @assigned_users.each do |user| %>
<br>
<% total_score = 0 %>
<%= user.first_name%> <%= user.last_name %>
<% @questions.each do |question| %>
  <% question.answers.where(user_id: user.id).each do |answer| %>
    <% total_score += answer.answer %>
  <% end %>
<% end %>
(Score: <%= total_score %>)
<% end %>



</p>
<p class="questionnaire-text"><%= link_to "Edit", edit_questionnaire_path(@questionnaire) %></p>
<p class="questionnaire-text"><%= link_to "Delete", questionnaire_path(@questionnaire), method: :delete, id: "delete questionnaire" %></p>
<p class="question-text"><%= link_to "Add Question", new_questionnaire_question_path(@questionnaire, @question) %></p>
<% end %>

<% if !current_user.admin %>
<% @questions.order(:id).each do |question| %>
  <%= question.content %>
  <%= button_to "Not at all", questionnaire_question_scaleone_path(questionnaire_id:question.questionnaire_id, question_id: question.id), method: :post, class: 'ScaleOne', id: "#{question.id}" %>
  <%= button_to "A little bit", questionnaire_question_scaletwo_path(questionnaire_id:question.questionnaire_id, question_id: question.id), method: :post, class: 'ScaleTwo', id: "#{question.id}" %>
  <%= button_to "Somewhat", questionnaire_question_scalethree_path(questionnaire_id:question.questionnaire_id, question_id: question.id), method: :post, class: 'ScaleThree', id: "#{question.id}" %>
  <%= button_to "Quite a bit", questionnaire_question_scalefour_path(questionnaire_id:question.questionnaire_id, question_id: question.id), method: :post, class: 'ScaleFour', id: "#{question.id}" %>
  <%= button_to "Very much", questionnaire_question_scalefive_path(questionnaire_id:question.questionnaire_id, question_id: question.id), method: :post, class: 'ScaleFive', id: "#{question.id}" %>
  <span class="question-scale" id = <%="Scale_#{question.id}" %>> <%= "" %> </span>
  <br>
  <br>
<% end %>
<%= link_to "Submit", questionnaire_path(@questionnaire) %>
<!-- <p class="questionnaire-text", id = "status_completion"> Status: <%= @questionnaire.status.capitalize%></p> -->

<% end %>

<p class="questionnaire-text"><%= link_to "Back to Index", questionnaires_path %></p>


<!-- <p class="questionnaire-text"><%= @questionnaire.physician_name %></p>
<p class="questionnaire-text"><%= @questionnaire.clinic_address %></p>
<p class="questionnaire-text"><%= @questionnaire.clinic_phone %></p>
<p class="questionnaire-text"> Additional Information Included: <%= @questionnaire.additional_information%></p>
<p class="questionnaire-text"> Demographic Information Included: <%= @questionnaire.demographic_information%></p> -->
